@use '../app/common/variables' as *;

.viewport {
    display: grid;
    width: fit-content;
    grid-template-columns: repeat(64, $pixel-hw);
    grid-template-rows: repeat(32, $pixel-hw);
    gap: 0;

    border: 4px solid $accent;
}

.pixel-item {
    height: $pixel-hw;
    width: $pixel-hw;

    background-color: rgb(40, 40, 40);
}

.pixel-active {
    background-color: rgb(17, 113, 109);
}